<!DOCTYPE html>
<h  tml lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Utils</title>    
</head>
<body>
    <p>Text-Analyzer</p>
    <form action='/analyze' method='get'>
        <textarea name='text' style="margin: 0px; width: 1304px; height: 66px;"></textarea><br>
        
        <input type="checkbox" name="removepunc">Remove Punctuation<br>
        <input type="checkbox" name="fullcaps">UPPERCASE<br>
        <input type="checkbox" name="capitalize">Capitalize First letter<br>
        <input type="checkbox" name="newlineremover">New Line Remover<br>
        <input type="checkbox" name="extraspace">Extra space Remover<br>
        <button type="submit">Analyzer</button><br>
    </form>
    

    
    
    
</body>
</html>